p {
    font-family: Impact, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

body{
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    margin-right: 0px;
    background-color: rgb(37,37,38);
    height: 3000px;
}
.background{
    opacity: .1;
    margin-left: 250px;
    margin-top: 100px;
    object-fit: fill;
    height: 1000px;
    z-index: 200;
}
.Content{
    position: relative;

}
