.Sponors-section{
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 1460px;
    background-color: rgb(215, 190, 28);
    z-index: -1;
    border: 1px solid rgba(243, 255, 8, 0.1);
    box-shadow: 0px 20px 100px rgb(0, 0, 0);

    
}
.SponorDescription{
    font-family:Bebas Neue;
    position:absolute;
    color: rgb(247, 248, 232);
    font-size: 20px;
    text-shadow: -1px -1px 0 #2a2a2a, 1px -1px 0 #2a2a2a, -1px 1px 0 #2a2a2a, 1px 1px 0 #2a2a2a;
}
.Sponor{
    width: 100px;
    height: 80px;
    top: 30px;
    margin-left: 35px;
    position: absolute;
}
.SponorCompany{
    font-family:Bebas Neue;
    position:absolute;
    color: rgb(247, 248, 232);
    text-shadow: 2px 2px 0px #131111;
    font-size: 20px;
    top: 115px;
    margin-left: 20px;

}
